<router-outlet></router-outlet>

<div class="pageHomeBox">
	<div class="left">
		<div class="image"></div>
	</div>

	<div class="right">
		<div class="content">
			<div class="title">
				<div class="logo"></div>
			</div>

			<div class="form">
				<form [formGroup]="actionForm" (ngSubmit)="submit($event);">
					<mat-form-field>
						<input autofocus type="email" matInput placeholder="Email" #Email maxlength="100"  formControlName="email">
					</mat-form-field>

					<mat-form-field>
						<input type="{{showPassword ? 'text' : 'password'}}" matInput placeholder="Password" #Password maxlength="100"  formControlName="password">
						<button type="button" class="noLength" *ngIf="Password.value.length > 0" mat-button matSuffix mat-icon-button (click)="showPassword=!showPassword">
							<mat-icon *ngIf="!showPassword">visibility</mat-icon>
							<mat-icon *ngIf="showPassword">visibility_off</mat-icon>
						</button>
					</mat-form-field>

					<div class="buttons">
						<button mat-raised-button type="submit" [disabled]="!actionForm.valid">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							Sign in
						</button>
						<br>
						<button mat-button class="forgot" type="button" routerLink="/forgot-password">
							Forgot password?
						</button>

						<div class="create">
							Don't have an account?
							<a routerLink="/signup">Sign up</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="pages">
		<ul>
			<li>
				<a routerLink="/about">About</a>
			</li>
			<li>
				<a routerLink="/brand">Brand</a>
			</li>
			<li>
				<a routerLink="/privacy">Privacy</a>
			</li>
			<li>
				<a routerLink="/support">Support</a>
			</li>
			<li>
				<a routerLink="/terms">Terms</a>
			</li>
		</ul>
	</div>
	<div class="copyright">
		{{copyright}}
	</div>
</div>
