<div class="innerBodyWeb">
	<div class="header">
		<div class="back" routerLink="/">
			<button mat-icon-button>
				<mat-icon>arrow_back</mat-icon>
			</button>
		</div>
		<div class="logo" routerLink="/"></div>
	</div>

	<div class="innerBodyContent">
		<div class="container">
			<div class="title">
				Sign in
			</div>

			<div class="form">
				<form autocomplete="off" novalidate [formGroup]="actionForm" (ngSubmit)="submit($event);">
					<mat-form-field>
						<input type="email" matInput placeholder="Email" #Email maxlength="100" formControlName="email">
						<mat-hint align="end">{{Email.value.length}}/100</mat-hint>
					</mat-form-field>

					<mat-form-field>
						<input type="password" matInput placeholder="Password" #Password maxlength="100" formControlName="password">
						<button type="button" *ngIf="Password.value.length > 0" mat-button matSuffix mat-icon-button (click)="showPassword=!showPassword">
							<mat-icon *ngIf="!showPassword">visibility</mat-icon>
							<mat-icon *ngIf="showPassword">visibility_off</mat-icon>
						</button>
						<mat-hint align="end">{{Password.value.length}}/100</mat-hint>
					</mat-form-field>

					<div class="g-recaptcha" data-sitekey="6LdjARYUAAAAAPDX4mmmCFvaWpqpaPpbbIk6gg2r" data-callback="verifyCallbackReCaptcha"></div>

					<!-- <ngx-recaptcha2 (success)="handleSuccess($event)"></ngx-recaptcha2> -->
					<!-- <ng2-google-recaptcha [siteKey]="recaptchaSiteKey" (onCaptchaComplete)="onCaptchaComplete($event)"></ng2-google-recaptcha> -->
					<!-- <ngx-recaptcha2 (success)="handleSuccess($event)"></ngx-recaptcha2> -->

					<div class="buttons">
						<button mat-raised-button type="submit">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							Sign in
						</button>
						<br>
						<button mat-button class="forgot" type="button" routerLink="/forgot-password">
							Forgot password?
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
