<div class="dialogBox">
	<div mat-dialog-title class="header">
		<div class="back">
			<button mat-icon-button (click)="close()">
				<mat-icon>arrow_back</mat-icon>
			</button>
		</div>
		<div class="text">
			Playlist
		</div>
	</div>

	<div mat-dialog-content class="bodyAudios">
		<div class="cover" [style.background-image]="data.item.color">
			<div class="image">
				<div class="img" [ngStyle]="{'background-image': 'url(' + data.path + 'covers/' + data.item.image + ')'}"></div>
			</div>

			<div class="box">
				<div class="inner">
					<div class="top">
						<div class="title">{{data.item.title}}</div>
						<div class="replays">000.003 replays</div>
					</div>

					<div class="bottom">
						<button mat-mini-fab (click)="playTrack('prev')" class="prev" [disabled]="data.list.length <= 1"><mat-icon>skip_previous</mat-icon></button>
						<button mat-fab (click)="playTrack('play')" class="playPause" [disabled]="data.list.length == 0">
							<mat-icon *ngIf="!data.playing">play_arrow</mat-icon>
							<mat-icon *ngIf="data.playing">pause</mat-icon>
						</button>
						<button mat-mini-fab (click)="playTrack('next')" class="next" [disabled]="data.list.length <= 1"><mat-icon>skip_next</mat-icon></button>
					</div>
				</div>
			</div>
		</div>

		<div class="content">
			<ul *ngIf="data.list.length > 0">
				<li *ngFor="let x of data.list; let i=index;" [ngClass]="{active: audioPlayerData.key == i && audioPlayerData.location == 'playlist' && audioPlayerData.type == 'default', default: !x.image, remove: x.addRemoveSession}">
					<div class="inner" *ngIf="!x.contentTypeAd">
						<div class="image">
							<button mat-icon-button (click)="playItem(data.list, x, i, 'default')">
								<mat-icon *ngIf="!x.playing || !(audioPlayerData.location == 'playlist' && audioPlayerData.type == 'default')">play_arrow</mat-icon>
								<mat-icon *ngIf="x.playing && (audioPlayerData.location == 'playlist' && audioPlayerData.type == 'default')">pause</mat-icon>
								<img *ngIf="x.image" [src]="data.path + 'thumbnails/' + x.image"/>
							</button>
						</div>
						<div class="text" (click)="playItem(data.list, x, i, 'default')">
							<div class="titleArtist" title="{{x.original_title ? x.original_title : x.title}}">
								<div class="title">{{x.original_title ? x.original_title : x.title}}</div>
								<div class="artist">{{x.original_artist ? x.original_artist : x.title}}</div>
							</div>
							<div class="duration">{{x.duration}}</div>
						</div>
						<div class="actions">
							<span *ngIf="data.userData.id == data.sessionData.current.id">
								<button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>more_vert</mat-icon></button>
							</span>
							<span *ngIf="data.userData.id != data.sessionData.current.id">
								<button mat-icon-button [matMenuTriggerFor]="appMenu">
									<mat-icon *ngIf="x.addRemoveUser" class="added">check</mat-icon>
									<mat-icon *ngIf="!x.addRemoveUser">more_vert</mat-icon>
								</button>
							</span>
							<mat-menu #appMenu="matMenu">
								<button mat-menu-item (click)="itemOptions('addRemoveSession', x, null); x.addRemoveSession=!x.addRemoveSession;" *ngIf="data.userData.id == data.sessionData.current.id">{{x.addRemoveSession ? 'Add' : 'Remove'}}</button>
								<button mat-menu-item (click)="itemOptions('addRemoveUser', x, null); x.addRemoveUser=!x.addRemoveUser;" *ngIf="data.userData.id != data.sessionData.current.id">{{!x.addRemoveUser ? 'Add' : 'Remove'}}</button>
								<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">Add to playlist</button>
								<button mat-menu-item (click)="itemOptions('report', x, null)">Report</button>
							</mat-menu>
							<mat-menu #menuPlaylists="matMenu">
								<button mat-menu-item *ngFor="let p of data.sessionData.current.playlists" (click)="itemOptions('playlist', x, p)">{{p.title}}</button>
							</mat-menu>
						</div>
					</div>

					<div class="ad" *ngIf="x.contentTypeAd">
						<div class="box" [innerHtml]="x.content"></div>
						<div class="disableAdBlock" *ngIf="hideAd">Disable AdBlock on this page</div>
					</div>
				</li>
			</ul>

			<div class="loadingData" *ngIf="data.loadingData">
				<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
			</div>
			<div class="noData" *ngIf="data.noData">No data</div>
		</div>
	</div>
</div>
