<div class="dialogBox">
	<div mat-dialog-title class="header">
		<button mat-icon-button (click)="dialogRef.close()"><mat-icon>arrow_back</mat-icon></button>
		<div class="text">{{userData.comeFrom == 'avatar' ? translations.avatar : translations.background}}</div>
	</div>

	<div mat-dialog-content class="bodyAvatar">
		<div class="container">
			<img *ngIf="userData.comeFrom == 'avatar'" [src]="userData.avatar ? userData.avatarUrl : environment.avatar"/>

			<img *ngIf="userData.comeFrom == 'background'" [src]="userData.background ? userData.backgroundUrl : environment.background"/>
		</div>
	</div>
</div>
