<div class="innerBodyUser">
	<div class="header">
		<span *ngIf="!deniedAccessOnlySession">
			<div class="head">
				<div class="headerEffect">
					<canvas id="headerEffect"></canvas>
				</div>

				<div class="left">
					<button mat-mini-fab (click)="navMenu=!navMenu"><mat-icon>menu</mat-icon></button>
				</div>

				<div class="center">
					<div class="logo" routerLink="{{sessionData ? '/home' : '/'}}"></div>
				</div>

				<div class="right">
					<button mat-mini-fab (click)="showNotificationsBoxWeb()">
						<div class="pending" *ngIf="sessionData.current.countPendingNotifications">
							{{sessionData.current.countPendingNotifications}}
						</div>
						<mat-icon>notifications</mat-icon>
					</button>

					<button mat-mini-fab class="avatar" (click)="showUserBoxWeb()">
						<img [src]="sessionData.current.avatar ? sessionData.current.avatarUrl : environment.avatar"/>
					</button>
				</div>
			</div>

			<div class="notificationsBox" *ngIf="showNotificationsBox">
				<div class="hidden" *ngIf="showNotificationsBox" (click)="showNotificationsBoxWeb()"></div>

				<div class="box">
					<div class="innerBox">
						<ul class="notifications" *ngIf="dataNotifications.list">
							<li mat-ripple *ngFor="let x of dataNotifications.list" [ngClass]="{'active': x.status == 0, 'remove': x.addRemoveSession}">
								<a class="avatar" routerLink="/{{x.user.username}}">
									<img [src]="x.user.avatar ? x.user.avatarUrl : environment.avatar"/>
								</a>

								<div class="inner" *ngIf="x.url == 'followers'">
									<div class="text">
										<div class="name">
											<a class="username" routerLink="/{{x.user.username}}">{{x.user.username}}</a>
											<span class="date">{{x.date | timeago}}</span>
										</div>
										
										<div class="container">
											<span *ngIf="x.type == 'startFollowing' || x.type == 'startFollowingPrivate' || x.type == 'startFollowingPrivateAccepted'">{{translations.startFollowingYou}}</span>
											<span *ngIf="x.type == 'acceptRequest'">{{translations.acceptFollowingRequest}}</span>
										</div>
									</div>

									<div class="operations">
										<button mat-button (click)="showNotificationsBoxWeb()" routerLink="/{{x.user.username}}">
											{{translations.visit}}
										</button>
									</div>
								</div>

								<div class="inner" *ngIf="x.url == 'photos'">
									<div class="text">
										<div class="name">
											<a class="username" routerLink="/{{x.user.username}}">{{x.user.username}}</a>
											<span class="date">{{x.date | timeago}}</span>
										</div>

										<div class="container" (click)="showNotification(x)">
											<span *ngIf="x.type == 'comment'">
												{{translations.commentedYourPhoto}}
												<br>
												<span *ngIf="x.contentData.comment" [innerHtml]="x.contentData.comment.comment | safeHtml"></span>
											</span>
											
											<span *ngIf="x.type == 'like'">{{translations.likedYourPhoto}}</span>

											<span *ngIf="x.type == 'mention'">{{translations.mentionOnPhoto}}</span>

											<span *ngIf="x.type == 'mentionComment'">{{translations.mentionOnCommentOnPhoto}}</span>

											<span *ngIf="x.type == 'share'">{{translations.sharePhoto}}</span>
										</div>
									</div>

									<div class="operations">
										<div class="image" *ngIf="x.contentData.media" (click)="showNotification(x)">
											<div class="img" [ngStyle]="{'background-image': 'url(' + x.contentData.media + ')'}"></div>
										</div>
									</div>
								</div>

								<div class="inner" *ngIf="x.url == 'publications'">
									<div class="text">
										<div class="name">
											<a class="username" routerLink="/{{x.user.username}}">{{x.user.username}}</a>
											<span class="date">{{x.date | timeago}}</span>
										</div>

										<div class="container" (click)="showNotification(x)">
											<span *ngIf="x.type == 'comment'">
												{{translations.commentedYourPublication}}
												<br>
												<span *ngIf="x.contentData.comment" [innerHtml]="x.contentData.comment.comment | safeHtml"></span>
											</span>
											
											<span *ngIf="x.type == 'like'">{{translations.likedYourPublication}}</span>

											<span *ngIf="x.type == 'mention'">{{translations.mentionOnPublication}}</span>

											<span *ngIf="x.type == 'mentionComment'">{{translations.mentionOnCommentOnPublication}}</span>

											<span *ngIf="x.type == 'share'">{{translations.sharePublication}}</span>

											<span *ngIf="!x.contentData.media">
												<br>
												<span [innerHtml]="x.contentData.content | safeHtml"></span>
											</span>
										</div>
									</div>

									<div class="operations">
										<div class="image" *ngIf="x.contentData.media" (click)="showNotification(x)">
											<div class="img" [ngStyle]="{'background-image': 'url(' + x.contentData.media + ')'}"></div>
										</div>
									</div>
								</div>
							</li>
						</ul>

						<div class="loadingData" *ngIf="dataNotifications.loadingData">
							<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
						</div>

						<div class="noData" *ngIf="!dataNotifications.list && !dataNotifications.loadingData">
							{{translations.noData}}
						</div>
						
						<div class="forward" (click)="showNotificationsBoxWeb()" routerLink="/notifications">
							{{translations.goToNotifications}}
							<button mat-icon-button>
								<mat-icon>arrow_forward</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="userBox" *ngIf="showUserBox">
				<div class="hidden" *ngIf="showUserBox" (click)="showUserBoxWeb()"></div>
				
				<div class="box">
					<div class="top" *ngIf="!showCloseSession && !showChangeSession && !showChangeLanguage">
						<div class="image">
							<img [src]="sessionData.current.avatar ? sessionData.current.avatarUrl : environment.avatar"/>
						</div>
						<div class="data">
							<div class="name">
								{{sessionData.current.name}}
								<i *ngIf="sessionData.current.official" matTooltip="{{translations.verifiedAccount}}"></i>
							</div>
							<div class="user">
								@{{sessionData.current.username}}
							</div>
						</div>
					</div>
					<div class="bottom">
						<mat-nav-list *ngIf="!showCloseSession && !showChangeSession && !showChangeLanguage">
							<mat-list-item (click)="showUserBox = false" routerLink="/{{sessionData.current.username}}">
								<mat-icon mat-list-icon>person</mat-icon>
								<h4 mat-line>{{translations.myAccount}}</h4>
							</mat-list-item>

							<mat-list-item (click)="showChangeSession=!showChangeSession">
								<mat-icon mat-list-icon>group</mat-icon>
								<h4 mat-line>{{translations.changeAccount}}</h4>
								<mat-icon mat-icon>keyboard_arrow_right</mat-icon>
							</mat-list-item>

							<mat-list-item (click)="showChangeLanguage=!showChangeLanguage">
								<mat-icon mat-list-icon>language</mat-icon>
								<h4 mat-line>{{translations.changeLanguage}}</h4>
								<mat-icon mat-icon>keyboard_arrow_right</mat-icon>
							</mat-list-item>

							<mat-list-item>
								<mat-slide-toggle [checked]="sessionData.current.theme" (change)="changeTheme()">{{translations.darkTheme}}</mat-slide-toggle>
							</mat-list-item>

							<mat-list-item (click)="showUserBox = false" routerLink="/settings">
								<mat-icon mat-list-icon>settings</mat-icon>
								<h4 mat-line>{{translations.settings}}</h4>
							</mat-list-item>

							<mat-list-item (click)="showCloseSession=!showCloseSession">
								<mat-icon mat-list-icon>exit_to_app</mat-icon>
								<h4 mat-line>{{translations.logOut}}</h4>
								<mat-icon mat-icon>keyboard_arrow_right</mat-icon>
							</mat-list-item>
						</mat-nav-list>

						<div class="innerBox" *ngIf="showChangeSession">
							<div class="back" (click)="showChangeSession=false">
								<button mat-icon-button>
									<mat-icon>arrow_back</mat-icon>
								</button>
								{{translations.changeAccount}}
							</div>

							<mat-nav-list>
								<mat-list-item class="userMini" *ngFor="let x of sessionData.sessions" [ngClass]="{active: sessionData.current.id == x.id}">
									<div class="avatar" mat-list-avatar (click)="setCurrentUser(x); showChangeSession=false;">
										<img [src]="x.avatar ? x.avatarUrl : environment.avatar"/>
									</div>
									<h4 mat-line (click)="setCurrentUser(x)">@{{x.username}}</h4>
									<mat-icon class="material-icons" [matMenuTriggerFor]="signOut">exit_to_app</mat-icon>
									<mat-menu #signOut="matMenu" yPosition="below" xPosition="after" class="removeBox">
										<div class="text">
											{{x.name}}
											<br>
											{{translations.leaveSite}}
										</div>
										<div class="buttons">
											<button mat-menu-item>{{translations.no}}</button>
											<button mat-menu-item (click)="closeSession(x)">{{translations.yes}}</button>
										</div>
									</mat-menu>
								</mat-list-item>

								<mat-list-item class="userMini" *ngIf="sessionData.sessions.length < 10" (click)="openNewSession()">
									<div class="add" mat-list-avatar>
										<mat-icon mat-list-icon>add</mat-icon>
									</div>
									<h4 mat-line>{{translations.addAccount}}</h4>
								</mat-list-item>
							</mat-nav-list>
						</div>

						<div class="innerBox" *ngIf="showChangeLanguage">
							<div class="back" (click)="showChangeLanguage=false">
								<button mat-icon-button>
									<mat-icon>arrow_back</mat-icon>
								</button>
								{{translations.changeLanguage}}
							</div>

							<mat-nav-list>
								<mat-list-item *ngFor="let x of sessionData.current.languages" (click)="changeLanguage(x)">
									<mat-icon mat-list-icon>{{x.id == sessionData.current.language ? 'check' : ''}}</mat-icon>
									<h4 mat-line>{{x.caption}}</h4>
								</mat-list-item>
							</mat-nav-list>
						</div>

						<div class="innerBox" *ngIf="showCloseSession">
							<div class="back" (click)="showCloseSession=false">
								<button mat-icon-button>
									<mat-icon>arrow_back</mat-icon>
								</button>
								{{translations.logOut}}
							</div>

							<div class="closeSessionBox">
								<div class="text">
									{{sessionData.current.name}}
									<br>
									{{translations.leaveSite}}
								</div>
								<div class="buttons">
									<button mat-menu-item (click)="showCloseSession=false">{{translations.no}}</button>
									<button mat-menu-item (click)="showCloseSession=false; closeSession(sessionData.current);">{{translations.yes}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="menuBox">
				<div class="menu" *ngIf="!navMenu">
					<mat-nav-list>
						<mat-list-item (click)="showChangeSessionOnMenu=!showChangeSessionOnMenu" class="user">
							<div class="avatar" mat-list-avatar>
								<img [src]="sessionData.current.avatar ? sessionData.current.avatarUrl : environment.avatar"/>
							</div>
							<h4 mat-line>{{sessionData.current.name}}</h4>
							<p mat-line>@{{sessionData.current.username}}</p>
							<mat-icon *ngIf="showChangeSessionOnMenu" class="material-icons">arrow_drop_up</mat-icon>
							<mat-icon *ngIf="!showChangeSessionOnMenu" class="material-icons">arrow_drop_down</mat-icon>
						</mat-list-item>

						<span *ngIf="showChangeSessionOnMenu">
							<mat-list-item class="userMini" *ngFor="let x of sessionData.sessions" [ngClass]="{active: sessionData.current.id == x.id}">
								<div class="avatar" mat-list-avatar (click)="setCurrentUser(x)">
									<img [src]="x.avatar ? x.avatarUrl : environment.avatar"/>
								</div>
								<h4 mat-line (click)="setCurrentUser(x)">@{{x.username}}</h4>
								<mat-icon class="material-icons" [matMenuTriggerFor]="signOut">exit_to_app</mat-icon>
								<mat-menu #signOut="matMenu" yPosition="below" xPosition="after" class="removeBox">
									<div class="text">
										{{x.name}}
										<br>
										{{translations.leaveSite}}
									</div>
									<div class="buttons">
										<button mat-menu-item>{{translations.no}}</button>
										<button mat-menu-item (click)="closeSession(x)">{{translations.yes}}</button>
									</div>
								</mat-menu>
							</mat-list-item>

							<mat-list-item class="userMini" *ngIf="sessionData.sessions.length < 10" (click)="openNewSession()">
								<div class="add" mat-list-avatar>
									<mat-icon mat-list-icon>add</mat-icon>
								</div>
								<h4 mat-line>{{translations.addAccount}}</h4>
							</mat-list-item>
						</span>

						<span *ngIf="!showChangeSessionOnMenu">
							<a mat-list-item (click)="scrollTop()" routerLink="/{{sessionData.current.username}}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
								<mat-icon mat-list-icon>person</mat-icon>
								<h4 mat-line>{{translations.mine}}</h4>
							</a>
							<a mat-list-item (click)="scrollTop()" routerLink="/home" routerLinkActive="selected">
								<mat-icon mat-list-icon>home</mat-icon>
								<h4 mat-line>{{translations.home}}</h4>
							</a>
							<a mat-list-item (click)="scrollTop()" routerLink="/news" routerLinkActive="selected">
								<mat-icon mat-list-icon>search</mat-icon>
								<h4 mat-line>{{translations.news}}</h4>
							</a>
							<a mat-list-item (click)="scrollTop()" routerLink="/{{sessionData.current.username}}/photos" routerLinkActive="selected">
								<mat-icon mat-list-icon>photo_camera</mat-icon>
								<h4 mat-line>{{translations.photos}}</h4>
							</a>
							<a mat-list-item (click)="scrollTop()" routerLink="/{{sessionData.current.username}}/audios" routerLinkActive="selected">
								<mat-icon mat-list-icon>headset</mat-icon>
								<h4 mat-line>{{translations.audios}}</h4>
							</a>
							<a mat-list-item (click)="scrollTop()" routerLink="/saved" routerLinkActive="selected">
								<mat-icon mat-list-icon>bookmark</mat-icon>
								<h4 mat-line>{{translations.bookmarks}}</h4>
							</a>
							<a mat-list-item (click)="scrollTop()" routerLink="/notifications" routerLinkActive="selected">
								<mat-icon mat-list-icon>notifications</mat-icon>
								<h4 mat-line>{{translations.notifications}}</h4>
								<div class="pending" *ngIf="sessionData.current.countPendingNotifications">
									{{sessionData.current.countPendingNotifications}}
								</div>
							</a>
							<a mat-list-item (click)="scrollTop()" routerLink="/settings" routerLinkActive="selected">
								<mat-icon mat-list-icon>settings</mat-icon>
								<h4 mat-line>{{translations.settings}}</h4>
							</a>
						</span>
					</mat-nav-list>
				</div>
			</div>
		</span>

		<span *ngIf="deniedAccessOnlySession">
			<div class="head">
				<div class="headerEffect">
					<canvas id="headerEffect"></canvas>
				</div>

				<div class="center">
					<div class="logo" routerLink="/"></div>
				</div>

				<div class="right">
					<div class="signingPanel">
						<a mat-button href="/signup">
							{{translations.signUp}}
						</a>
						|
						<a mat-button href="/signin">
							{{translations.signIn}}
						</a>
					</div>
				</div>
			</div>
		</span>
	</div>

	<router-outlet></router-outlet>
</div>

<span *ngIf="!deniedAccessOnlySession">
	<!-- Bottom -->
	<div class="bottomNav">
		<ul>
			<li>
				<button mat-icon-button (click)="scrollTop()" routerLink="/home" routerLinkActive="selected">
					<div class="home">
						<div class="roof"></div>
					</div>
				</button>
			</li>
			<li>
				<button mat-icon-button (click)="scrollTop()" routerLink="/news" routerLinkActive="selected">
					<div class="search"></div>
				</button>
			</li>
			<li>
				<button mat-icon-button (click)="showPlayerMobile('toggle')" (press)="showPlayerMobile('toggle')">
					<div class='miniEqualizer' [ngClass]="{'active' : audioPlayerData.playing}" *ngIf="!audioPlayerData.loadingToPlay">
						<div class='bar'></div>
						<div class='bar'></div>
						<div class='bar'></div>
						<div class='bar'></div>
						<div class='bar'></div>
					</div>

					<span class="loader" *ngIf="audioPlayerData.loadingToPlay">
						<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
					</span>
				</button>
			</li>
			<li>
				<button mat-icon-button (click)="scrollTop()" routerLink="/notifications" routerLinkActive="selected">
					<div class="notifications">
						<div class="clapper"></div>
						<div class="pending" *ngIf="sessionData.current.countPendingNotifications">
							{{sessionData.current.countPendingNotifications}}
						</div>
					</div>
				</button>
			</li>
			<li>
				<button mat-icon-button (click)="scrollTop()" (press)="showSessionPanelFromBottom()" routerLink="/{{sessionData.current.username}}" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">
					<div class="avatar">
						<img [src]="sessionData.current.avatar ? sessionData.current.avatarUrl : environment.avatar"/>
					</div>
				</button>
			</li>
		</ul>
	</div>

	<!-- Web audio player -->
	<div class="audioPlayerWeb">
		<div class="player">
			<div class="left">
				<div class="image" *ngIf="audioPlayerData.current.image">
					<img [src]="audioPlayerData.current.image"/>
				</div>

				<div class="text">
					<div class="title">{{audioPlayerData.current.original_title ? audioPlayerData.current.original_title : audioPlayerData.current.title}}</div>
					<div class="artist">{{audioPlayerData.current.original_artist ? audioPlayerData.current.original_artist : audioPlayerData.current.title}}</div>
				</div>
			</div>
			<div class="center">
				<div class="top">
					<button mat-mini-fab (click)="playTrack('shuffle', '')" class="shuffle" [ngClass]="{'active': audioPlayerData.shuffle, 'disabled': audioPlayerData.list.length <= 1}">
						<i></i>
					</button>

					<button mat-mini-fab (click)="playTrack('prev', '')" class="prev" [ngClass]="{'disabled': audioPlayerData.list.length <= 1}">
						<i [style.background]="audioPlayerData.current.color"></i>
					</button>

					<button mat-fab (click)="playTrack('play', '')" class="playPause" [ngClass]="{'disabled': audioPlayerData.list.length == 0}" [style.background]="audioPlayerData.current.color">
						<i class="play" *ngIf="!audioPlayerData.playing"></i>
						<i class="pause" *ngIf="audioPlayerData.playing"></i>
					</button>

					<button mat-mini-fab (click)="playTrack('next', '')" class="next" [ngClass]="{'disabled': audioPlayerData.list.length <= 1}">
						<i [style.background]="audioPlayerData.current.color"></i>
					</button>

					<button mat-mini-fab (click)="playTrack('repeat', '')" class="repeat" [ngClass]="{'active': audioPlayerData.repeat, 'disabled': audioPlayerData.list.length <= 1}">
						<i></i>
					</button>
				</div>

				<div class="bottom">
					<div class="progress">
						<div class="current">{{audioPlayerData.current.time}}</div>
						<div class="slider">
							<canvas id="audioAnalyser"></canvas>
							<mat-slider min="0" max="1000" [value]="audioPlayerData.current.progress" (change)="progressBar($event)" [disabled]="audioPlayerData.list.length == 0"></mat-slider>
						</div>
						<div class="total">{{audioPlayerData.current.duration}}</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="playlist">
					<button mat-mini-fab (click)="showPlaylistWeb()" [ngClass]="{active: showPlaylist}">
						<mat-icon>playlist_play</mat-icon>
					</button>
				</div>
				<div class="volume">
					<button mat-mini-fab (click)="volumeBar('mute',$event)">
						<mat-icon *ngIf="audioPlayerData.volume.mute">volume_off</mat-icon>
						<mat-icon *ngIf="!audioPlayerData.volume.mute">volume_up</mat-icon>
					</button>
					<mat-slider min="0" max="100" [value]="audioPlayerData.volume.value" (input)="volumeBar('progress', $event)" (change)="volumeBar('save', $event)"></mat-slider>
				</div>
			</div>
		</div>

		<div class="playlistBox" *ngIf="showPlaylist">
			<div class="data">
				<ul *ngIf="audioPlayerData.list">
					<li *ngFor="let x of audioPlayerData.list; let i=index;" [ngClass]="{active: audioPlayerData.current.key == i, default: !x.image, remove: x.addRemoveSession}">
						<div class="inner" *ngIf="!x.contentTypeAd">
							<div class="image">
								<button mat-icon-button (click)="playTrack('item', i)">
									<img *ngIf="x.image" [src]="audioPlayerData.path + 'thumbnails/' + x.image"/>
									<mat-icon *ngIf="!x.playing">play_arrow</mat-icon>
									<mat-icon *ngIf="x.playing">pause</mat-icon>
								</button>
							</div>
							<div class="text" (click)="playTrack('item', i)">
								<div class="titleArtist" title="{{x.original_title ? x.original_title : x.title}}">
									<div class="title">{{x.original_title ? x.original_title : x.title}}</div>
									<div class="artist">{{x.original_artist ? x.original_artist : x.title}}</div>
								</div>
								<div class="duration">{{(audioPlayerData.current.key == i) ? (x.countdown ? x.countdown : x.duration) : x.duration}}</div>
							</div>
							<div class="actions">
								<span *ngIf="audioPlayerData.current.user == sessionData.current.id && audioPlayerData.current.type == 'default'">
									<button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>more_vert</mat-icon></button>
								</span>
								<span *ngIf="audioPlayerData.current.user != sessionData.current.id || audioPlayerData.current.type != 'default'">
									<button mat-icon-button [matMenuTriggerFor]="appMenu">
										<mat-icon *ngIf="x.addRemoveUser" class="added">check</mat-icon>
										<mat-icon *ngIf="!x.addRemoveUser">more_vert</mat-icon>
									</button>
								</span>
								<mat-menu #appMenu="matMenu">
									<button mat-menu-item (click)="itemAudiosOptions('addRemoveSession', x, null)" *ngIf="audioPlayerData.current.user == sessionData.current.id && audioPlayerData.current.type == 'default'">{{x.addRemoveSession ? translations.add : translations.remove}}</button>
									<button mat-menu-item (click)="itemAudiosOptions('addRemoveUser', x, null)" *ngIf="audioPlayerData.current.user != sessionData.current.id || audioPlayerData.current.type != 'default'">{{!x.addRemoveUser ? translations.add : translations.remove}}</button>
									<button mat-menu-item [matMenuTriggerFor]="menuPlaylists" #trigger="matMenuTrigger">{{translations.addToPlaylist}}</button>
									<button mat-menu-item (click)="itemAudiosOptions('report', x, null)">{{translations.report}}</button>
								</mat-menu>
								<mat-menu #menuPlaylists="matMenu">
									<button mat-menu-item (click)="itemAudiosOptions('createPlaylist', null, null)">{{translations.createPlaylist}}</button>
									<span *ngFor="let p of sessionData.current.playlists">
										<button mat-menu-item *ngIf="!p.removed" (click)="itemAudiosOptions('playlist', x, p)">{{p.title}}</button>
									</span>
								</mat-menu>
							</div>
						</div>
					</li>
			    </ul>

			    <div class="noData" *ngIf="audioPlayerData.noData">
			    	{{translations.noData}}
			    </div>
			</div>
		</div>
	</div>
</span>

<span *ngIf="deniedAccessOnlySession">
	<!-- Mobile sigin/signup -->
	<div class="signingBox" *ngIf="!signingBox">
		<div class="inner">
			<div class="panel">
				<div class="title">
					{{translations.registerOnSite}}
				</div>
				<button mat-icon-button class="close" (click)="signingBox=!signingBox">
					<mat-icon>close</mat-icon>
				</button>
			</div>

			<div class="box">
				<div class="text">
					{{translations.registerOnText}}
				</div>
				<div class="buttons">
					<button mat-button type="button" routerLink="/signup">
						{{translations.signUp}}
					</button>
					<button mat-button type="button" routerLink="/signin">
						{{translations.signIn}}
					</button>
				</div>
			</div>
		</div>
	</div>
</span>
