<div class="innerBodyWeb">
	<div class="header">
		<div class="back" routerLink="/">
			<button mat-icon-button>
				<mat-icon>arrow_back</mat-icon>
			</button>
		</div>
		<div class="logo" routerLink="/"></div>
	</div>

	<div class="innerBodyContent">
		<div class="container">
			<div class="title">
				About us
			</div>

			<div class="text">
				Sasá Rafalsky, <a routerLink="/sasa">@sasa</a> (CEO, co-founder).
				<br>
				CEO and co-founder of Outhroo, a community of more than 10 persons
				who share their publications with audios, gif, photos and videos.
				He is responsible for the company's overall vision and strategy
				as well as day-to-day operations.
				<br>
				<br>
				Since the beginning, Sasá has focused on simplicity and inspiring
				creativity through solving problems with thoughtful product design.
			</div>
		</div>
	</div>
</div>
