<div class="innerBodyWeb">
	<div class="header">
		<div class="back" routerLink="/">
			<button mat-icon-button>
				<mat-icon>arrow_back</mat-icon>
			</button>
		</div>
		<div class="center">
			<div class="logo" routerLink="/"></div>
		</div>
	</div>

	<div class="innerBodyContent">
		<div class="container about">
			<div class="title">
				About us
			</div>

			<div class="subtitle">
				Company
			</div>

			<div class="text">
				Sasá Rafalsky, <a routerLink="/sasa">@sasa</a> (CEO, co-founder).
				<br>
				Outhroo is a community where people can share their publications with their friends.
				You can do an amezing publications with audios, photos and videos.
			</div>
			
			<div class="subtitle">
				Brand
			</div>
			
			<div class="text">
				Easy way for you to use our brand
				<br>
				<button mat-raised-button type="button">
					Download
				</button>
			</div>

			<div class="image">
				<img src="assets/images/icons/icon-192x192.png" height="96" width="96" alt="logo">
			</div>
		</div>
	</div>
</div>
