<div class="innerBodyWeb">
	<div class="header">
		<div class="back" routerLink="/">
			<button mat-icon-button>
				<mat-icon>arrow_back</mat-icon>
			</button>
		</div>
		<div class="center">
			<div class="logo" routerLink="/"></div>
		</div>
	</div>

	<div class="innerBodyContent">
		<div class="container">
			<div class="title">
				Brand
			</div>

			<div class="text">
				Easy way for you to use our brand
				<br>
				<button mat-raised-button type="button">
					Download
				</button>
			</div>

			<div class="text">
				Logo
			</div>
			<div class="image">
				<img src="assets/images/icons/icon-192x192.png" height="96" width="96" alt="logo">
			</div>

			<div class="text">
				Pattern
			</div>
			<div class="image">
				<img src="assets/images/icons/square/icon-512x512.png" alt="image">
			</div>

			<div class="text">
				Social icons
			</div>
			<div class="image">
				<img src="assets/images/icons/square/icon-512x512.png" alt="image">
			</div>
		</div>
	</div>
</div>
