<div class="innerBodyWeb">
	<div class="header">
		<div class="back" routerLink="/">
			<button mat-icon-button>
				<mat-icon>arrow_back</mat-icon>
			</button>
		</div>
		<div class="logo" routerLink="/"></div>
	</div>

	<div class="innerBodyContent">
		<div class="container" *ngIf="pageStatus == 'default'">
			<div class="title">
				Forgot password
			</div>

			<div class="form">
				<form [formGroup]="actionForm" (ngSubmit)="submit($event);">
					<mat-form-field>
						<input type="email" matInput placeholder="Email" #Email maxlength="100" formControlName="email">
						<mat-hint align="end">{{Email.value.length}}/100</mat-hint>
					</mat-form-field>

					<!-- <div class="g-recaptcha" data-sitekey="6LdjARYUAAAAAPDX4mmmCFvaWpqpaPpbbIk6gg2r" data-callback="verifyCallbackReCaptcha"></div> -->
					<div class="reCaptcha" id="reCaptcha_element"></div>

					<div class="buttons">
						<button mat-raised-button type="submit">
							<mat-progress-spinner mode="indeterminate" *ngIf="submitLoading"></mat-progress-spinner>
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="container" *ngIf="pageStatus == 'completed'">
			<div class="title">
				Check your email
			</div>

			<div class="text">
				We've sent an email to <b>{{email}}</b>.
				Click the link in the email to reset your password.
				<br>
				<br>
				If you don't see the email, check other places it might be,
				like your junk, spam, social, or other folders.
			</div>
		</div>
	</div>
</div>
