<div class="dialogBox">
	<div mat-dialog-title class="header">
		<button mat-icon-button (click)="dialogRef.close()"><mat-icon>arrow_back</mat-icon></button>
		<div class="text">{{translations.changeAvatar}}</div>
	</div>

	<div mat-dialog-content class="bodyCropper">
		<div class="image">
			<img (load)="imageLoad()" [src]="sessionData.current.avatarCropper ? sessionData.current.avatarCropper : environment.avatar" #imageSrc>
		</div>

		<div class="panel">
	        <button mat-raised-button type="button" (click)="cropperFunctions('zoomIn')">
	        	<mat-icon>zoom_in</mat-icon>
	        </button>
	        <button mat-raised-button type="button" (click)="cropperFunctions('zoomOut')">
	        	<mat-icon>zoom_out</mat-icon>
	        </button>
	        <button mat-raised-button type="button" (click)="cropperFunctions('rotateLeft')">
	        	<mat-icon>rotate_left</mat-icon>
	        </button>
	        <button mat-raised-button type="button" (click)="cropperFunctions('rotateRight')">
	        	<mat-icon>rotate_right</mat-icon>
	        </button>
	        <button mat-raised-button type="button" (click)="cropperFunctions('flipHorizontal')">
	        	<mat-icon>swap_horiz</mat-icon>
	        </button>
	        <button mat-raised-button type="button" (click)="cropperFunctions('flipVertical')">
	        	<mat-icon>swap_vert</mat-icon>
	        </button>
	    </div>
	</div>

	<div mat-dialog-actions class="buttons">
		<button mat-raised-button type="button" (click)="cropperFunctions('close')">
			{{translations.cancel}}
		</button>
		<button mat-raised-button type="submit" (click)="cropperFunctions('crop')">
			<mat-progress-spinner mode="indeterminate" *ngIf="saveLoading"></mat-progress-spinner>
			{{translations.save}}
		</button>
	</div>
</div>
